.App-header {
  background-color: black;
  min-height: 100vh;
  text-align: center;
  color: #b870a8;
}

.top {
  padding-top: 10%;
}

.logo img {
  max-width: 40%;
}

.text {
  align-self: center;
  margin-left: -15%;
  padding: 0;
}

.App header {
  font-family: "Roboto", sans-serif;
}

.App h1 {
  font-family: "Qwitcher Grypen", cursive;
  margin: 0 auto;
  font-size: 8vw;
}

.App h2 {
  font-size: 2.2vw;
  font-style: italic;
}

.App h2,
h3 {
  color: white;
}

.App h3 {
  font-size: 4vw;
  font-weight: bold;
}

.App h4 {
  font-size: 2vw;
  font-style: italic;
}

.tagline {
  justify-content: center;
  margin: 20px;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .top {
    padding-top: 5vh;
  }
  .logo img {
    max-width: 20%;
  }
  .App h2 {
    margin-top: 0;
    font-size: 3.5vw;
  }
  .text {
    margin-left: 0;
  }
  .tagline {
    justify-self: center;
    max-width: 80%;
  }
  .App h4 {
    font-size: 3vw;
  }
}
